* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    background: rgba(124, 255, 255, 0.753);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header {
    /* border: 2px solid red; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    letter-spacing: 10px;
}

section {
    /* border: 2px solid red; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    /* border: 2px solid black; */
    background: rgb(245, 243, 243);
    border-radius: 20px;
    width: 70%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-1 {
    /* border: 2px solid black; */
    height: 320px;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.bill-section {
    /* border: 2px solid red; */
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bill {
    /* border: 2px solid black; */
    border-radius: 25px;
    height: 35px;
    background: rgb(230, 229, 229);
    display: flex;
    justify-content: start;
    align-items: center;
}

.bill span {
    margin-left: 15px;
}

.bill-input {
    /* border: 2px solid black; */
    border-radius: 25px;
    height: 35px;
    background: rgb(230, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.tip-section {
    /* border: 2px solid black; */
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.button-container-1 {
    /* border: 2px solid black; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container-1 button {
    height: 35px;
    width: 130px;
    background: rgb(11, 11, 82);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.button-container-2 {
    /* border: 2px solid black; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container-2 button {
    height: 35px;
    width: 130px;
    background: rgb(11, 11, 82);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}


.people-section {
    border: 2px solid orangered;
    height: 80px;
}

.card-2 {
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 320px;
    width: 45%;
    background: rgb(11, 11, 82);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amount {
    height: 80px;
    width: 90%;
    /* border: 2px solid wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-amount h4 {
    color: white;
}

.tip-amount h5 {
    color: grey;
}

.price {
    color: aqua;
    font-size: 30px;
}

.submit-btn {
    /* border: 2px solid white; */
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.submit-btn button {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background: rgb(29, 2, 185);
    font-weight: bold;

}